@import (reference) "../../common";

section#dialogs_accountsettings_dialog {
  width: @dialog-width-accounts;

  > .large-table {
    margin-top: @metrics-small-padding;

    &:first-of-type {
      margin-top: @metrics-medium-padding;
    }
  }
}