@import (reference) "../../common";

section#dialogs_xpub_dialog {

  > #code_container {
    text-align: center;
    margin-top: @metrics-medium-padding;
    word-wrap: break-word;
    width: @dialog-width-settings;
  }

  > #qrcode_container {
    margin-top: @metrics-medium-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > div.regular-grey-text-small {
    text-align: center;
    margin-top: @metrics-small-padding;
  }
}