@import (reference) "../../../constants";

section#receive_dialog, section#send_dialog {
  #amount_row {
    > td {
      padding-bottom: 5px;
      padding-top: @metrics-small-padding;

      > input {
        margin-right: 5px;
        width: 200px;
      }
    }
  }
}