@import (reference) "../../../constants";
@import (reference) "../../../application";

#amount_row {
  .text-properties() {
    color: @color-black;
    font-size: @font-size-extra-large;

    &.optional {
      color: @color-soft-grey;
    }
  }

  input {
    .text-properties;
    .large-text-input;
    margin-right: @metrics-very-small-padding - 3px;
  }

  > span {
    .text-properties;
    font-weight: @font-weight-light;
    text-transform: uppercase;
  }
}
