@import (reference) "../../constants";
@import (reference) "../../mixins";

div.greyed-container {
  text-align: center;

  .medium-indication {
    margin-top: 20px;
    line-height: 20px;
  }


  .chain-selector {
    margin-top: 20px;
  }

  .action-rounded-button {
    margin-right: @metrics-very-small-padding;
  }

  #remember {
    margin-top: 20px;
  }
}
