@import "../constants";
@import "top-menu";

#navigation_controller_content {
  padding: @metrics-large-padding @metrics-medium-padding;
}

.table-section {
  width: 100%;
  display: table;

  >header {
    display: flex;
    margin-bottom: @metrics-very-small-padding + 8px;

    >h1 {
      letter-spacing: -0.5px;
      font-size: @font-size-large;
      font-weight: @font-weight-semibold;
    }

    >a {
      letter-spacing: -0.4px;
      margin-left: auto;
      text-decoration: none;
      font-size: @font-size-medium;
      font-weight: @font-weight-regular;
      color: @color-action-purple;

      &:hover {
        color: darken(@color-action-purple, 20%);
      }

    }

  }

  >table {
    width: 100%;
    vertical-align: middle;

    thead {

    }

    tr td {
      height: 40px;
      vertical-align:middle;
      padding-right: @metrics-very-large-padding;
      border-bottom: 1px solid @color-very-light-grey;
      font-size: @font-size-medium;
    }

    tr td.fit-content {
      width: 1%;
      white-space:nowrap;
      padding-right: @metrics-very-large-padding;
    }

    tr td:last-child {
      text-align: right;
      padding-right: 0px;
      font-weight: @font-weight-semibold;
      letter-spacing: -0.3px;
    }

    thead tr td {
      height: 32px;
      letter-spacing: -0.3px;
      border-bottom: 1px solid transparent;
      font-weight: @font-weight-semibold;
      font-size: @font-size-very-small;
    }

  }

}