@import (reference) "../../common";

div.greyed-container {
  display: flex;
  justify-content: center;

  .text-container {
    margin-left: @metrics-large-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .almost-small-top-margin {
    margin-top: @metrics-almost-small-padding;
  }

}

div.actions-container {
  display: flex;
  justify-content: center;
}


.carousel {

  width: 500px;

  .carousel-item {
    .regular-soft-grey-text-small();
    width: 100%;
    text-align: center;
    line-height: 25px;
  }

}