@import (reference) "../../common";

div.greyed-container {
  display: flex;
  justify-content: center;

  .text-container {
    margin-left: @metrics-large-padding;

  }

}

div.actions-container {
  display: flex;
  justify-content: center;
}


.carousel {

  width: 500px;

  .carousel-item {
    .regular-soft-grey-text-small();
    width: 100%;
    text-align: center;
    line-height: 25px;
  }

}