<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/tooltipster/css/tooltipster.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../public/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="../public/chosen.min.css">
    <link rel="stylesheet" href="../assets/css/application.css">
    <link id="navigation_controller_style" rel="stylesheet">
    <link id="view_controller_style" rel="stylesheet">
    <script src="../src/utils/require.js" type="application/javascript"></script>
    <script src="../src/imports.js" type="application/javascript"></script>
</head>
<body>
  <div id="controllers_container" class="main-container"></div>
  <div id="dialogs_container" style="visibility: hidden"></div>
</body>
<script src="../src/app.js" type="application/javascript"></script>
</html>